/*index.html*/
.navfixed{
    position: fixed;
}
section{
    p{
        text-align: center;
        font-size: 30px;
    }
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
}
.grid-item{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border: solid 1px white;
    margin: 10px;
}
.ajustimg{
    width: 245px;
    height: 143px;
}
.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
#partidos{
    article{
        div{
            img{
                width: 55%;
            }
        }
    }
}
#selecciones{
    article{
        div{
            img{
                width: 60%;
            }
        }
    }
}
.footerindex{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 3px 10px;
    border: #aadde3 9px solid;
    border-radius: 20px;
    background-color: beige;
}
#partidos{
    article{
        div{
            img{
                margin: 50px;
            }
        }
    }
}
#partidos{
    article{
        h2{
            margin-top: 50px;
            margin-bottom: 50px;
            text-decoration: none;
            background-color: rgb(0, 95, 95);
            color: white;
        }
    }
}
#partidos{
    article{
        p{
            text-align: center;
            font-size: 18px;
            width: 680px;

            background-color: rgb(106, 71, 109);
            margin-bottom: 50px;
            color: antiquewhite;
            border-radius: 10px 40px 40px 10px;
        }
    }
}
#selecciones{
    article{
        p{
            width: 600px;
            text-align: center;
            margin-bottom: 50px;
            border: none;
            border-radius: 40px 10px;
            background: rgb(122, 118, 93);
        }
    }
}
#selecciones{
    article{
        h2{
            text-align: center;
            margin-bottom: 50px;
            text-decoration: none;
            background-color: rgb(0, 95, 95);
            color: white;
        }
    }
}
#headindex{
    p{
        background-color: azure;
        margin: 50px;
        color: black;
        border-radius: 30px;
        padding: 6px;
        text-align: center;
    }
}
#bodyindex{
    background-color: rgb(172, 150, 122);
}
#headindex{background-image: url(https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt47319d1e75659cac/615f691353b9be336e3e8832/e01689e5430f659d403da9ff41b4ab60d6ee455a.jpg);
    height: 650px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}
#inicio{
    color: white;
    background-color: rgb(0, 95, 95);
}